<%= simple_form_for(@loading) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :check %>
    <%= f.input :quality_check %>
    <%= f.input :check_by %>
    <%= f.input :quality_check_by %>
    <%= f.input :check_on %>
    <%= f.input :check_quality_on %>
    <%# f.association :line_items %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
