<div class="container-fluid">
  <div class="text-center">
  <h1>Loading Area</h1>
  </div>
  <br>
  <br>
    <div class="row">
      <div class="col-sm-4">
	<div class="text-center">
	  <%= link_to "Current Orders", loadings_show_by_order_path, class: "btn btn-lg btn-default" %>
	</div>
      </div>
      <div class="col-sm-4">
	<div class="text-center">
	  <%= link_to "Current Orders By Location", loadings_show_by_location_path, class: "btn btn-lg btn-default" %>
	</div>
      </div>
      <div class="col-sm-4">
	<div class="text-center">
	  <%= link_to "All Orders", loadings_show_all_path, class: "btn btn-lg btn-default" %>
	</div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-10 col-sm-offset-1">
    <h3>Current Orders On Deck</h3>

    <% @route_order_ids.each do |route_order_id| %>
    <% Order.where(id: route_order_id).each do |orders| %>
    <table border="1" class="table table-order">
      <tr>
	<th colspan="6">
	<p>
	<strong>
	  Name:
	</strong>
	<%= orders.name %>
	</p>
	<p>
	<strong>
	  Address:
	</strong>
	<%= orders.address %>
	</p>
	<p>
	<strong>
	  Payment Types:
	</strong>
	<%= orders.pay_type %>
	</p>
	<p>
	<strong>
	  User Email:
	</strong>
	<%= orders.user.email %>
	</p>
	<p>
	<strong>
	  Order ID:
	</strong>
	<%= orders.id %>
	</p>
	</th>
      </tr>
      <% end %> <%# Order.all%>
    <% end %> <%# @route_order_ids%>
  </div>
</div>

<div class="text-center">
<%# will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>
