<%= simple_form_for(@truck_history) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :maintenance_date %>
    <%= f.input :maintenance_info %>
    <%= f.input :maintenance_file %>
    <%= f.input :maintenance_file_size %>
    <%= f.input :maintenance_passing %>
    <%= f.association :truck %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
