<p id="notice"><%= notice %></p>

<p>
  <strong>Maintenance date:</strong>
  <%= @truck_history.maintenance_date %>
</p>

<p>
  <strong>Maintenance info:</strong>
  <%= @truck_history.maintenance_info %>
</p>

<p>
  <strong>Document:</strong>
  <%= link_to "Link to PDF", @truck_history.document.url %>
</p>

<p>
  <strong>Maintenance passing:</strong>
  <%= @truck_history.maintenance_passing %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @truck_history.truck %>
</p>

<%= link_to 'Edit', edit_truck_history_path(@truck_history) %> |
<%= link_to 'Back', truck_histories_path %>
