
<p id="notice"><%= notice %></p>

<!-- ### Search bar ### -->

<span class="pull-right">
  <%= form_tag(admin_products_path, method: :get, role: "search", class: "form-inline") do  %>
    <div class="form_group">
      <%# TODO: hide the search label %>
      <%# label_tag :search class: "sr-only" %>
      <%= text_field_tag(:search, nil, placheholder: "Search Products", class: "form-control input-sm") %>
    </div>
    <%= submit_tag(:search, class: "btn btn-default btn-sm") %>
  <% end %>
</span>

<h1>Products</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Category</th>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.avatar.url(:thumb) %></td>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.quantity %></td>
        <td><%= product.description %></td>
        <td><%= product.category.try('name') %></td>
        <td><%= product.brand.try('name') %></td>
        <td><%= link_to fa_icon("eye", text: "show"), admin_product_path(product) %></td>
        <td><%= link_to fa_icon("pencil", text: "Edit"), edit_admin_product_path(product) %></td>
        <td><%= link_to fa_icon('trash', text: 'Destroy'), admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-sm-offset-5">
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>
<br>

<%= link_to 'New Product', new_admin_product_path, class: "btn btn-sm btn-success" %>
