<p id="notice"><%= notice %></p>

<h1>Routes</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Truck</th>
      <th>Description</th>
      <th>Order Name</th>
      <th>Order Address</th>
      <th>Order ID</th>
      <th>Delivery Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.where(delivered: false).each do |route| %>
      <tr>
        <td><%= route.truck.number %></td>
        <td><%= route.truck.description %></td>
        <td><%= route.order.name %></td>
        <td><%= route.order.address %></td>
        <td><%= route.order.id %></td>
	<% if route.delivered == true %>
	<td><%= link_to 'Delivered', 
	  not_delivered_route_path(route),
	  method: :put
	  %></td>
      <% else %>
	<td><%= link_to 'Not Delivered', 
	  delivered_route_path(route),
	  method: :put
	  %></td>
      <% end %>
        <td><%= link_to 'Show', route %></td>
        <td><%= link_to 'Edit', edit_route_path(route) %></td>
	<td><%= link_to 'Destroy', 
	  route, 
	  method: :delete, 
	  data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route', new_route_path %>
<br><br>
<h1>Last 50 Deliveries</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Truck</th>
      <th>Description</th>
      <th>Order Name</th>
      <th>Order Address</th>
      <th>Order ID</th>
      <th>Delivered Status</th>
      <th>Delivered On</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.where(delivered: true).order('delivered_on DESC').limit(50).each do |route| %>
      <tr>
        <td><%= route.truck.number %></td>
        <td><%= route.truck.description %></td>
        <td><%= route.order.name %></td>
        <td><%= route.order.address %></td>
        <td><%= route.order.id %></td>
	<% if route.delivered == true %>
	<td><%= link_to 'Delivered', 
	  not_delivered_route_path(route),
	  method: :put,
	  data: { confirm: "Are you sure? this will move\nTruck: #{route.truck.number}\nDescription: #{route.truck.description}\nOrder Address: #{route.order.address}\nOrder Name: #{route.order.name}\nOrder ID: #{route.order.id}\nto the current routes" }
	  %></td>
      <% else %>
	<td><%= link_to 'Not Delivered', 
	  delivered_route_path(route),
	  method: :put
	  %></td>
      <% end %>
        <td><%= route.delivered_on.stamp("2:00am on Saturday, April 15th 2000") %></td>
        <td><%= link_to 'Show', route %></td>
        <td><%= link_to 'Edit', edit_route_path(route) %></td>
	<td><%= link_to 'Destroy', 
	  route, 
	  method: :delete, 
	  data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

