<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4 col-sm-offset-4">

      <p>
	<strong>Truck:</strong>
	<%= @route.truck.number %>
      </p>

      <p>
	<strong>Description:</strong>
	<%= @route.truck.description %>
      </p>

      <p>
	<strong>Order:</strong>
	<%= @route.order.id %>
      </p>

      <%= link_to 'Edit', edit_route_path(@route) %> |
      <%= link_to 'Back', routes_path %>
    </div>
  </div>
</div>
