<p id="notice"><%= notice %></p>

<p>
  <strong>Truck:</strong>
  <%= @route.truck %>
</p>

<p>
  <strong>Description:</strong>
  <%= @route.truck %>
</p>

<p>
  <strong>Order:</strong>
  <%= @route.order.id %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
