<h1>Users</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>email</th>
      <th>Admin account</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th> </th>
      <th colspan="10"> </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
	<% if user.admin %>
	  <td>Yes</td>
	<% else %>
	  <td>No</td>
	<% end %>
	<td><%= user.created_at %></td>
	<td><%= user.updated_at %></td>
        <td><%# link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%# link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<td>
	  <!-- Button trigger modal -->
	    <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target=<%= "#modal_info_#{user.id}" %> >
	      More Info
	    </button>
	    <%= render 'modal_show', user: user %>
	</td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Brand', new_admin_user_path %>
