

	<ul class="nav navbar-nav">

	  <!-- ############## -->
	  <!-- # admin area # -->
	  <!-- ############## -->


	  <% if user_signed_in? && current_user.admin? %>
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Back Room<span class="caret"></span></a>


	  <!-- ***************** -->
	  <!-- backroom dropdown -->
	  <!-- ***************** -->
		<ul class="dropdown-menu">
		  <li>
		    <%= link_to "Brands", admin_brands_path %>
		  </li>
		  <li>
		    <%= link_to "Categories", admin_categories_path %>
		  </li>
		  <li>
		    <%= link_to "Products", admin_products_path %>
		  </li>
		  <li>
		    <%= link_to "Users", admin_users_path %>
		  </li>
		  <li>
		    <%= link_to "Trucks", trucks_path %>
		  </li>
		  <li>
		    <%= link_to "Truck History", truck_histories_path %>
		  </li>
		  <li>
		    <%= link_to "Routes", routes_path %>
		  </li>
		  <li>
		    <%= link_to "Routes History", routes_history_path %>
		  </li>
		  <li>
		    <%= link_to "All Orders", orders_show_all_path %>
		  </li>
		  <li>
		    <%= link_to "Loading", loadings_index_path %>
		  </li>
		  <li>
		    <%= link_to "Locations", locations_path %>
		  </li>
		</ul>
	    <% end %>

	  <!-- ############## -->
	  <!-- ## user area # -->
	  <!-- ############## -->

	  <!-- ***************** -->
	  <!-- shop dropdown     -->
	  <!-- ***************** -->
      <li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Shop<span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
	  <li>
	    <%= link_to "All Products", shop_path %>
	  </li>
	  <% Category.all.each do |cat| %>
	    <li>
	      <%= link_to cat.name.capitalize, shop_path(cat_id: cat.id) %>
	    </li>
	  <% end %>
	</ul>

      </li>
      
	  <!-- ***************** -->
	  <!-- index about       -->
	  <!-- ***************** -->
	  <li>
	    <%= link_to 'About', about_path %>
	  </li>
	  <!-- ***************** -->
	  <!-- order view        -->
	  <!-- ***************** -->
	  <li>
	    <%= link_to 'View Orders', show_path %>
	  </li>


	</li>
      </ul>

	  <!-- ************************** -->
	  <!-- sign in/ sign out / cart   -->
	  <!-- ************************** -->
      <ul class="nav navbar-nav navbar-right">
	<!-- cart -->
	  <li>
	    <%= link_to fa_icon("truck", text:'Cart'), edit_cart_path %>
	  </li>
	<!-- sign in and out -->
	<% if user_signed_in? %>
	  <li>
	    <%= link_to 'Edit Account', edit_user_registration_path %>
	  </li>
	  <li>
	    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
	  </li>
	  <% else %>
	  <li>
	    <%= link_to 'Login', new_user_session_path %>
	  </li>
	  <li>
	    <%= link_to 'Signup', new_user_registration_path %>
	  </li>

	<% end %>
      </ul>






