<!DOCTYPE html>
<html>
  <head>
    <title>Merchant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#f8f8f8;">


    <%= render '/layouts/navbar' %>

    <h3 class="alert-success" id="notice"><%= notice %></h3>

    <%= yield %>
  </body>
</html>
